<h1>Invoices</h1>

<table>
    <tr>
        <th>Invoice ID<th>
        <th>Customer</th>
    </tr>

<<!--%= render :partial => "invoice", :collection => @invoices %>-->
<!--Render the collection called _invoices which is est. on the index controller-->
<!--render(@collection) || "If there is nothing in the collection, this prints out"-->
<%= render(@invoices) || "No Invoices"%>
</table>

